.App {
  display: flex;
  flex-flow: column;
  max-width: 1400px;
  margin: 0 auto;
}

.search-results {
  display: grid;
  grid-template-areas: "users repos";
  grid-template-columns: minmax(664px, 1fr) minmax(664px, 1fr);

  > div > .Loader {
    margin: 40px;
  }
}
