@import "../shared/hoverable-item.scss";

.UserItem {
  @extend .hoverable-item;
  opacity: 0;
  animation: translateFadeIn 600ms forwards;

  .personal-info {
    .name,
    .bio,
    .login {
      margin-bottom: 6px;
    }

    .name {
      display: flex;

      .organization-badge {
        align-self: center;
        background-color: #333;
        border-radius: 6px;
        color: #fff;
        display: flex;
        font-size: 9px;
        font-weight: bold;
        height: 18px;
        line-height: 12px;
        margin: 0 6px;
        padding: 3px 6px;

        @media (min-width: 769px) {
          font-size: 12px;
          margin: 0 12px;
          height: 20px;
          line-height: 14px;
        }
      }
    }

    .bio {
      color: #333;
    }

    .location {
      color: #555;

      i {
        margin-right: 6px;
      }

      &:hover {
        color: rgba(11, 95, 255, 0.7);
      }
    }
  }
}
