.hoverable-item {
  background-color: #fff;
  border-radius: 12px;
  column-gap: 12px;
  display: grid;
  grid-template-areas: "picture personal-info" ". details";
  grid-template-columns: 36px auto;
  margin-bottom: 12px;
  padding: 18px;
  position: relative;
  row-gap: 6px;
  transition: box-shadow 300ms ease-out;

  @media (min-width: 426px) {
    grid-template-areas: "picture personal-info details";
    grid-template-columns: 36px auto 72px;
    margin-bottom: 0;
    padding: 18px 24px;
    row-gap: 0;
  }

  @media (min-width: 769px) {
    grid-template-columns: 48px auto 150px;
  }

  &:hover {
    box-shadow: 0 -6px 16px -12px rgba(51, 51, 51, 0.3),
      0 12px 18px -12px rgba(51, 51, 51, 0.3);
    z-index: 1;
  }

  .picture {
    display: flex;
    grid-area: picture;

    img {
      border-radius: 8px;
      height: 36px;
      width: 36px;
      background-color: rgba(200, 200, 200, 0.25);

      @media (min-width: 769px) {
        height: 48px;
        width: 48px;
      }
    }
  }

  .personal-info {
    display: flex;
    flex-flow: column;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    grid-area: personal-info;
    overflow: overlay;

    .name {
      font-size: 16px;
      font-weight: bold;
      color: #666;

      @media (min-width: 426px) {
        font-size: 20px;
      }

      &:hover {
        color: rgba(11, 95, 255, 0.98);
      }
    }
  }

  .details {
    display: flex;
    flex-flow: row;
    font-size: 10px;
    font-style: italic;
    grid-area: details;
    text-align: right;
    background-image: linear-gradient(
      90deg,
      transparent,
      #fff,
      #fff,
      #fff,
      #fff,
      #fff
    );

    @media (min-width: 426px) {
      flex-flow: column;
    }

    @media (min-width: 769px) {
      font-size: 14px;
    }

    .count {
      margin-right: 6px;

      @media (min-width: 426px) {
        margin-top: 6px;
        margin-right: 0;
      }
    }

    .account-age {
      color: #777;
      order: 2;
      flex-grow: 1;

      @media (min-width: 426px) {
        order: initial;
        flex-grow: initial;
      }
    }
  }
}
