{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks", "sort-imports-es6-autofix"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-no-target-blank": "off",
    "react/prop-types": "off",
    "sort-imports-es6-autofix/sort-imports-es6": ["error", {
      "ignoreCase": false,
      "ignoreMemberSort": false
    }]
  }
}